.home .body {
    display: flex;
}

    .home .body .Content .button {
        margin-left: 175px;
    }

    .home .body .Content .out {
        margin-left: 0px;
        margin-top: 35px;
    }

    .home .body .Content {
        margin-left: 0px;
        margin-top: 0px;
        width: 40%;
        height: 100%;
    }

        .home .body .Content form {
            margin-top: 60px;
            margin-left: 0px;
            display: flex;
        }

            .home .body .Content form #result i {
                width: 410px;
                word-wrap: break-word;
                margin-left: -15px;
                color: white;
            }

    /*-------------------------------*/
    .home .body .map {
        border: 2px solid white;
        width: 60%;
    }

        .home .body .map .ol-viewport {
            border: 3px solid yellow;
        }

/*-------------*/

#map .Search-Search {
        position: absolute;
        z-index: 999;
        margin-left: 110px;
        margin-top: 30px;
    }

#map .Search-Search #search-input {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

#map .Search-Search button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}

#map .Search-Search button:hover {
    background: #95a5a6;
    color: wheat;
    font-weight: 700;
}
/*---------------*/