
.body {
    display: flex;
}


.Content--a {
    background-color: antiquewhite;
    width: 230px;
    height: 662px;
}

    .Content--a img {
        width: 40px;
        height: 40px;
    }

    .Content--a .a {
        width: 90%;
        margin-left: 12px;
        margin-top: 40px;
        word-wrap: break-word;
    }

        .Content--a .a i{
            font-size: 15px;
        }

        .lichsu {
            width: 1057px;
            background: rgba(0,0,0,0.7);
        }

.dataTables_wrapper {
    position: relative;
    clear: both;
    padding: 110px;
    margin-top: -70px;
    color: white;
}

    .dataTables_wrapper .dataTables_length select {
        border: 2px solid #aaa;
        color: white;
        background: #18191a;
    }

    .dataTables_wrapper .dataTables_filter input {
        border: 2px solid #aaa;
        color: white;
    }

.home .body table tbody tr td img {
    width: 20px;
}

.dataTables_wrapper {
    padding-right: 26px;
    padding-top: 130px;
    padding-left: 20px;
}

.Info .info-item {
    display: flex;
}

    .Info .info-item .info-ks {
        margin-left: 50px;
    }